body {
    margin: 0;
    padding: 0;
    height: 100%
}

html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.control-center {
    text-align: right;
    padding-right: 10px;
    padding-top: 80px;
}

.control-center-button {
    background-color: #212121;
    border: 0px solid #fafafa;
    color: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 4px 5px;
    margin: 0;
    text-align: right;
}

.control-center-button:hover {
    color: #bdbdbd;
}

.control-center-input {
    background-color: #212121;
    border: none;
    color: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
    width: 230px;
}

.control-center-input:focus {
    outline: none;
}

.control-center-input-button {
    background-color: #212121;
    background-image: url('../res/search.png');
    background-size: cover;
    border: none;
    color: #fafafa;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: 600;
    height: 20px;
    width: 20px;
}

.control-center-input-button:hover {
    background-image: url('../res/search_hover.png');
}

.control-center-input-container {
    border-bottom: 1px solid #fafafa;
    width: 270px;
}

.control-center-text {
    color: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 4px 5px;
}

.flow-container {
    display: flex;
    height: 100%;
}

.flow-container-a {
    height: 100%;
    width: 40%;
    background-color: #212121;
    text-align: center;
}

.flow-container-b {
    background-color: #212121;
    font-size: 20px;
    height: 100%;
    text-align: center;
    width: 60%;
}

.jukebox-title {
    color: #fafafa;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    padding-right: 15px;
    padding-top: 20px;
    text-align: right;
}

.output-container {
    border-bottom: 1px solid #fafafa;
    height: 0px;
    overflow: scroll;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: height 0.5s;
    width: 270px;
}

.output-container-elem {
    color: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 4px 5px;
}

.output-container-elem-p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.search-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}